/*
	Simple Test Suite styles
	@author Luke Williams
	@version 1.0 (24.04.2011)
*/

body {font-size: 100%;font-family: Arial, Helvetica, sans-serif;text-align:center; background-color: #d8e8e8;}

/*
	Layout
*/
#content {width: 940px; text-align: left; margin: 0 auto; background-color: #e6efff;}
	#header { background-color: #33a5ff; }
	
	#tests { color: #334; padding: 0px 10px 10px 10px; }
/*
	Tests
*/
.test { padding: 10px 10px 20px 10px; clear: both; overflow: auto; background-color: #f4f4f4; border-bottom: 5px solid #969faf;  margin-botton: 10px;}
.test:nth-child(odd) { background-color: #fff; }
	.test p { font-style: italic; font-size: 90%; }

/*
	Content
*/
h1,h2 { margin-bottom: 20px; padding: 10px; }
h1 { font-size: 28px; color: #001133;}
h2 { font-size: 20px; color: #002255; } 

p { line-height: 22px; }
ul { margin: 0px; padding: 0px; }
ul li { list-style: none; float: left; margin: 0px 0px 10px 20px; width: 31%; }
a, a:visited { color: #889; }
a:hover { color: #000; }

table { border: 1px solid #333; }

/* 
	Mobile fix 
*/
@media only screen and (max-width: 900px) {

	body { text-align: left; font-size: 14px; }
	#content { width: 100%; margin: 0px; }
	h1 { font-size: 160%; }
	h2 { font-size: 130%; }
	
	.test { padding: 5px 5px 10px 5px; }
	ul li { float: none; border-bottom: 1px solid #ccc; width: 100%; padding-bottom: 10px; margin: 0px 0px 10px 5px; }
}
